.weather-container {
  width: 500px; 
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border-radius: 5px;
  box-shadow: 3px 4px 11px 2px #b4aaaa;
}

.weather-img {
  width: 50px;
}

.weather-image-container {
  place-self : center;
}

.place-name {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.temperature {
  font-size: 1.5rem;
  margin : 0.5rem 0;
}

.min-max-tem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5rem 0;
}